---
import Layout from "../layouts/Layout.astro";
import SliderEspeciasls from "../components/SliderEspecials.jsx";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import SliderCups from "../components/SliderCups.jsx";
import SliderBrut from "../components/SliderBrut.jsx";
---

<Layout title="La Matera y su carta de vinos, una seleccion de nuestro somelier">
  <Header />
  <main class="flex flex-col justify-center text-white ">
    <div class="flex flex-col justify-center items-center mt-24">
      <SliderEspeciasls client:load />
    </div>
    <!-- <Hero /> -->
    <div class=" " >
      <SliderCups client:load />
    </div>
    <div class=" " >
      <SliderBrut client:load />
    </div>
    <Footer />
  </main>
</Layout>
