<header
  id="header"
  class="fixed z-20 flex justify-between px-3 py-3 mb-4 items-center border-b shadow-lg border-white/50 rounded-b-2xl w-full backdrop-blur-md bg-neutral-200/10 text-pretty text-white"
>
  <div class="flex flex-col items-center">
    <div id="Especial" class="p-1 flex flex-col items-cente justify-center content-center">
      <h1 class="text-3xl font-bold font-serif title opacity-80">Especiales</h1>
      <p class="text-xs text-center opacity-70 font-serif ">
        únicamente por botella
      </p>
    </div>
    <span
      id="Copas"
      class="hidden text-3xl font-bold font-serif title opacity-80 p-3"
      >Copeo Tintos</span
    >
    <span
      id="Copas-Blancos"
      class="hidden text-3xl font-bold font-serif title opacity-80 p-3"
      >Copeo Blancos</span
    >
  </div>
  <a  href="https://www.lamatera.online/">
    <img
      class="h-[54px] w-[54px] hover:cursor-pointer"
      src="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo.svg"
      alt="logo de la matera en el header"
     
    />

  </a>
</header>

<script>
  const header = document.getElementById("header");
  const especiales = document.getElementById("Especial");
  const span = document.getElementById("Copas");
  const span2 = document.getElementById("Copas-Blancos");

  if (header && span && especiales && span2) {
    window.addEventListener("scroll", () => {
      const windowY = window.scrollY;
      if (windowY > 1080) {
        especiales.classList.add("hidden");
        span.classList.add("hidden");
        span2.classList.remove("hidden");
      } else if (windowY > 550) {
        especiales.classList.add("hidden");
        span.classList.remove("hidden");
        span2.classList.add("hidden");
      } else {
        especiales.classList.remove("hidden");
        span.classList.add("hidden");
        span2.classList.add("hidden");
      }
    });
  }
</script>
