<div class="flex flex-col items-center">
    <div class="flex items-center justify-center ">
      <p
        class="text-center mx-5 text-sm max-w-[400px] font-serif opacity-80 text-pretty"
      >
        Te presentamos una selección especial de vinos recomendados por
        nuestro sommelier, este mes conoceremos la <span class="text-red-500">
          línea Zuccardi,</span
        > una bodega de renombre que destaca por su pasión y dedicación en cada
        botella.
      </p>
    </div>
    <a class="h-20 md:h-36 mt-14" href="https://www.lamatera.online/">
      <img
        class="h-20 md:h-36 mb-5"
        src="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo-rojo.svg"
        alt="logo de la matera"
      />
    </a>
  </div>
  