<div class="flex flex-col items-center relative ">
    <div class="flex items-center justify-center ">
      <p
        class=" mx-5 text-sm max-w-[400px]  opacity-80 text-pretty"
      >
        Te presentamos una selección especial de vinos recomendados por
        nuestro sommelier, este mes conoceremos la <span class="text-red-500">
          línea Zuccardi.</span
        > 
      </p>
    </div>
  
  </div>
  