---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
    name="description"
    content="Vinos de argentina, la mejor cava de vinos de Guadalajara, disfruta de un buen maridaje y un buen corte a la parrilla con uno de nuestros vinos especiales del mes."
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="https://www.lamatera.mx/wp-content/themes/bmx-lamatera/assets/img-logotipo.svg"
  />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </>
  <body>
    <div class="relative h-full w-full bg-[#110505]">
      <div
        class="fixed bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_95%_200px,#3e3e3e,transparent)]"
      >
      </div>
      <slot />
    </div>
  </body><style is:global>
    :root {
      color-scheme: light dark;
      --primary: #0e191a;
    }
    html {
      font-family: system-ui;

      /* #401415 red */
      color: rgb(53, 4, 4);
    }

    /* fondo alternativo  */
    /* background: #ebdcbf; */
  </style>
</html>
